<nav class="navbar navbar-expand-lg navbar-light bg-orange shadow fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      Keto<span class="font-weight-bold">Manija</span>
    </a>
    <button
      (click)="isCollapsed = !isCollapsed"
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar"
      aria-controls="navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div
      [ngbCollapse]="isCollapsed"
      class="collapse navbar-collapse"
      id="navbar"
    >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link" routerLink="/recipes" routerLinkActive="active"
            >Keto recepti
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active"
            >O nama</a
          >
        </li>
      </ul>
      <div
        class="d-inline-block"
        ngbDropdown
        #menu="ngbDropdown"
        *ngIf="isAuthenticated"
      >
        <button class="btn btn-user mr-2" id="dropdown" ngbDropdownToggle>
          <i class="fas fa-user mr-2"></i> Korisnicki panel
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdown">
          <button ngbDropdownItem (click)="onFetchData()">
            <i class="fas fa-sync-alt mr-2"></i>Osvezi
          </button>
          <button ngbDropdownItem (click)="onSaveData()">
            <i class="fas fa-save mr-2"></i>Sacuvaj listu recepta
          </button>
          <button ngbDropdownItem (click)="onLogout()">
            <i class="fas fa-sign-out-alt mr-2"></i>Odjavi se
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
