.navbar-brand {
  font-family: 'Kalam', cursive;
  font-weight: 300 !important;
  transition: all 0.4s;
}
.nav-link {
  transition: all 0.4s;
}
.nav-link:hover {
  color: #000 !important;
}

.bg-orange {
  background: #f96332;
  color: #fff;
  transition: all 0.5s;
}

.navbar-brand {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}
.navbar-toggler {
  border-color: #fff;
}

.navbar-toggler:focus {
  outline: none;
}

.fa-bars {
  color: #fff;
  font-size: 1.6rem;
}

.nav-link {
  color: #fff !important;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  margin-right: 1rem;
}

.btn-user {
  background: #fff;
  color: #f96332;
  border: 1px solid #fff;
}

.btn-user:focus {
  outline: none;
  box-shadow: none;
}

.active {
  color: #000 !important;
  font-weight: 700;
}
