.footer {
  background: #181818;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #f96332;
}

.social-icons .fa-facebook,
.social-icons .fa-instagram {
  color: #f96332 !important;
  transition: all 0.4s;
}

.social-icons .fa-facebook:hover,
.social-icons .fa-instagram:hover {
  color: #fff !important;
}

.my-link {
  text-decoration: none;
  color: #fff;
  transition: all 0.4s;
}
.my-link:hover {
  color: #f96332;
}
