<footer class="footer py-3">
  <div class="container">
    <div class="row">
      <div class="col text-center py-2">
        <p class="text-light font-weight-light font-italic mb-0">
          Pogledajte recepte koji ce vam pomoci da vasa ishrana dovede do
          sjajnih rezultata.
        </p>
        <div class="social-icons py-2">
          <a href="#">
            <i class="fab fa-facebook fa-2x text-primary mx-3"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram fa-2x text-info mx-3"></i>
          </a>
        </div>
        <p class="text-light font-weight-light m-0">
          &copy; Copyright {{ year }} -
          <a class="my-link" href="http://ivankuzmanovic.com/" target="_blank"
            >Ivan Kuzmanovic</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
