h3,
li {
  color: #181818;
}

.card {
  border: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.bg-info {
  background: linear-gradient(
    90deg,
    rgba(200, 107, 0, 1) 55%,
    rgba(230, 195, 19, 1) 100%
  ) !important;
  color: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.input-group-text {
  background: #181818;
}
.fa-chevron-right,
.fa-link,
.fa-info,
.fa-check {
  color: #f96332 !important;
}

.btn-warning {
  background: #f96332;
  color: #fff;
}

input,
textarea {
  transition: all 0.4s;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
  background: #ffc4c4;
}

input.ng-invalid.ng-touched::placeholder,
textarea.ng-invalid.ng-touched::placeholder {
  color: #000;
}
