<div class="row">
  <div class="col-sm-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="card">
        <div class="card-header p-0">
          <div class="bg-info text-white text-center py-3">
            <h3 class="m-0"><i class="fa fa-plus"></i> Dodaj novi recept</h3>
          </div>
        </div>
        <div class="card-body">
          <!--Body-->

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text pb-1">
                <i class="fas fa-chevron-right px-2"></i>
              </span>
            </div>
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Naziv recepta"
              formControlName="name"
              required
            />
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text pb-1">
                <i class="fas fa-link px-1"></i>
              </span>
            </div>
            <input
              type="text"
              class="form-control"
              id="imagePath"
              placeholder="Link slike"
              formControlName="imagePath"
              #imagePath
              required
            />
            <img [src]="imagePath.value" class="img-fluid mt-2 w-100" />
          </div>

          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text pb-1">
                <i class="fas fa-info px-2"></i>
              </span>
            </div>
            <textarea
              class="form-control"
              id="description"
              placeholder="Nacin pripreme"
              rows="6"
              formControlName="description"
              required
            ></textarea>
          </div>

          <div class="row my-4">
            <div class="col-sm-12" formArrayName="ingredients">
              <div
                class="row"
                *ngFor="let ingredientCtrl of controls; let i = index"
                [formGroupName]="i"
              >
                <div class="col-sm-8">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text pb-1">
                        <i class="fas fa-check px-1"></i>
                      </span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="name"
                      placeholder="Namirnica"
                    />
                  </div>
                </div>
                <div class="col-sm-2">
                  <input
                    type="number"
                    formControlName="amount"
                    class="form-control"
                  />
                </div>
                <div class="col-sm-2">
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="onDeleteIngredient(i)"
                  >
                    Obrisi
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="text-center mb-3">
            <button
              type="button"
              class="btn btn-success btn-block"
              (click)="onAddIngredient()"
            >
              Dodaj namirnice
            </button>
          </div>
          <div class="text-center mb-3">
            <button
              type="submit"
              class="btn btn-warning btn-block"
              [disabled]="!recipeForm.valid"
            >
              Sacuvaj
            </button>
          </div>
          <div class="text-center">
            <button
              type="button"
              class="btn btn-danger btn-block"
              (click)="onCancel()"
            >
              Otkazi
            </button>
          </div>
        </div>
      </div>
    </form>
    <!--Form with header-->
  </div>
</div>
