<div class="col-sm-12">
  <div class="card profile-card">
    <div class="card-img-block">
      <img
        class="card-img-top"
        [src]="recipe.imagePath"
        alt="{{ recipe.name }}"
      />
    </div>
    <div class="card-body pt-0">
      <div class="d-flex align-items-center justify-content-between mb-4">
        <h5 class="card-title">{{ recipe.name }}</h5>
        <div class="d-inline-block" ngbDropdown #recipeMenu="ngbDropdown">
          <button
            class="btn btn-warning mr-2"
            id="recipeDropdown"
            ngbDropdownToggle
          >
            <i class="fas fa-edit mr-2"></i> Uredi
          </button>
          <div ngbDropdownMenu aria-labelledby="recipeDropdown">
            <button ngbDropdownItem (click)="onEditRecipe()">
              Izmeni recept
            </button>
            <button ngbDropdownItem (click)="onDeleteRecipe()">
              Obrisi recept
            </button>
          </div>
        </div>
      </div>
      <p class="card-text">
        {{ recipe.description }}
      </p>
      <div class="mt-5">
        <h4>Namirnice:</h4>
        <ul class="list-group list-group-flush">
          <li
            class="list-group-item"
            *ngFor="let ingredient of recipe.ingredients"
          >
            {{ ingredient.name }} - {{ ingredient.amount }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <p class="mt-3 w-100 float-left text-center text-muted">
    <strong>KETO MANIJA</strong>
  </p>
</div>
