/*Profile Card 5*/
.profile-card {
  margin-top: 20px;
}
.profile-card .btn {
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 7px 20px;
}
.profile-card .card-img-block {
  width: 91%;
  margin: 0 auto;
  position: relative;
  top: -20px;
}
.profile-card .card-img-block img {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
}
.profile-card h5 {
  color: #f96332;
  font-weight: 700;
}
.profile-card h4 {
  font-size: 1.2rem;
  font-weight: 200;
  color: #000;
}
.profile-card p,
li {
  font-size: 1rem;
  font-weight: 200;
  color: #000;
}
