@keyframes ldio-c9h2ydjmj8f-r {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.2 0 0.8 0.8);
  }
  50% {
    animation-timing-function: cubic-bezier(0.2 0.2 0.8 1);
  }
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes ldio-c9h2ydjmj8f-s {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.2 0 0.8 0.8);
  }
  50% {
    animation-timing-function: cubic-bezier(0.2 0.2 0.8 1);
  }
  0% {
    transform: translate(-40.86px, -40.86px) scale(0);
  }
  50% {
    transform: translate(-40.86px, -40.86px) scale(1);
  }
  100% {
    transform: translate(-40.86px, -40.86px) scale(0);
  }
}
.ldio-c9h2ydjmj8f > div {
  transform: translate(0px, -20.43px);
}
.ldio-c9h2ydjmj8f > div > div {
  animation: ldio-c9h2ydjmj8f-r 1s linear infinite;
  transform-origin: 113.5px 113.5px;
}
.ldio-c9h2ydjmj8f > div > div > div {
  position: absolute;
  transform: translate(113.5px, 88.98400000000001px);
}
.ldio-c9h2ydjmj8f > div > div > div > div {
  width: 81.72px;
  height: 81.72px;
  border-radius: 50%;
  background: #000;
  animation: ldio-c9h2ydjmj8f-s 1s linear infinite;
}
.ldio-c9h2ydjmj8f > div > div:last-child {
  animation-delay: -0.5s;
}
.ldio-c9h2ydjmj8f > div > div:last-child > div > div {
  animation-delay: -0.5s;
  background: #ffc107;
}
.loadingio-spinner-interwind-6uw6mqkh4t7 {
  width: 227px;
  height: 227px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.ldio-c9h2ydjmj8f {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-c9h2ydjmj8f div {
  box-sizing: content-box;
}
