<div class="recipes-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <app-recipe-list></app-recipe-list>
      </div>
      <div class="col-md-7">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
