.section {
  margin-top: 3.875rem;
}

.front-page-wrapper {
  background: linear-gradient(rgba(249, 99, 50, 0.8), rgba(249, 99, 50, 0.8)),
    url('../../assets/images/front-page-bg.jpg') center center / cover;
  color: #fff;
  height: 90vh;
  padding: 120px 0;
}
