<section class="section">
  <div class="front-page-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-8 d-none d-md-block align-self-center">
          <h1 class="display-4 mb-3">
            Uzivajte u ukusnoj hrani, osecajte se energicno, pisite recepte...
          </h1>
          <p class="lead">
            Prijavite se u aplikaciju, kreirajte ukusne recepte, uzivajte!
          </p>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="alert alert-danger text-center" *ngIf="error">
            <p class="m-0 lead font-weight-bold">{{ error }}</p>
          </div>
          <div *ngIf="isLoading" class="text-center">
            <app-loading-spinner></app-loading-spinner>
          </div>
          <div class="text-center">
            <div *ngIf="!isLoading">
              <h3>Registruj se</h3>
              <p>Popunite pravilno formu za pristup receptima</p>
            </div>

            <form
              #authForm="ngForm"
              (ngSubmit)="onSubmit(authForm)"
              *ngIf="!isLoading"
            >
              <div class="form-group">
                <input
                  type="email"
                  ngModel
                  name="email"
                  class="form-control form-control"
                  placeholder="Email"
                  required
                  email
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  ngModel
                  name="password"
                  class="form-control form-control"
                  placeholder="Password"
                  required
                  minlength="6"
                />
              </div>
              <button
                type="submit"
                class="btn btn-outline-light btn-block"
                [disabled]="!authForm.valid"
              >
                {{ isLoginMode ? 'Prijavi se' : 'Registruj se' }}
              </button>
              <hr class="bg-white" />
              <p>{{ isLoginMode ? 'Nemate nalog?' : 'Vec imate nalog?' }}</p>
              <button
                type="button"
                class="btn btn-outline-warning btn-block"
                (click)="onSwitchMode()"
              >
                Promeni na {{ isLoginMode ? 'registraciju' : 'prijavu' }}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
