.list-group-item {
  border-radius: 6px;
}
.list-group-item:hover {
  background: linear-gradient(
    90deg,
    rgb(40, 61, 250) 55%,
    rgb(82, 149, 250) 100%
  );
}

.recipe-item {
  background: linear-gradient(
    90deg,
    rgba(200, 107, 0, 1) 55%,
    rgba(230, 195, 19, 1) 100%
  );
  color: #fff;
}

.recipe-hr {
  height: 1px;
  width: 5rem;
  background-color: #fff;
  margin: 0.8rem 0;
  border: none;
}

hr {
  height: 1px;
  background-color: #fff;
  border: none;
}

.active {
  background: linear-gradient(
    90deg,
    rgb(40, 61, 250) 55%,
    rgb(82, 149, 250) 100%
  );
}
