<div class="list-group">
  <a
    style="cursor: pointer;"
    class="list-group-item recipe-item mb-3"
    [routerLink]="[index]"
    routerLinkActive="active"
  >
    <div class="d-flex align-items-center justify-content-center">
      <span class="w-75">
        <img
          [src]="recipe.imagePath"
          alt="{{ recipe.name }}"
          class="img-fluid"
          style="max-height: 80px;"
        />
      </span>
      <div class="w-75">
        <h4>{{ recipe.name }}</h4>
        <hr class="recipe-hr" />
        <p>
          {{ recipe.description | slice: 0:40
          }}{{ recipe.description.length > 40 ? '...' : '' }}
        </p>
      </div>
    </div>
  </a>
</div>
