<div class="row">
  <div class="col-sm-12">
    <p>
      Ovde dodajete listu recepata. Posle dodavanja ili brisanja, kliknite na
      dugme "sacuvaj recepte". Ako ne postoji lista recepata, kliknite na dugme
      "osvezi" i trenutna lista ce se pojaviti. Na dugme "dodaj recept" kreirate
      novi recept.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <button
      type="button"
      class="btn btn-success btn-block"
      (click)="onNewRecipe()"
    >
      <i class="fas fa-plus mr-1"></i> Dodaj recept
    </button>
    <button
      type="button"
      class="btn btn-warning btn-block"
      (click)="onSaveRecipe()"
    >
      <i class="fas fa-save mr-1"></i> Sacuvaj recepte
    </button>
    <button
      type="button"
      class="btn btn-primary btn-block"
      (click)="onFetchRecipe()"
    >
      <i class="fas fa-download mr-1"></i> Osvezi
    </button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-sm-12">
    <app-recipe-item
      *ngFor="let recipeEl of recipes; let i = index"
      [recipe]="recipeEl"
      [index]="i"
    ></app-recipe-item>
  </div>
</div>
