/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Montserrat', sans-serif !important;
  background: #181818 !important;
}

a {
  text-decoration: none !important;
}
